.btn-start{
    position: relative;
    margin-top: 15%;
    height: 54px;
    border: 3px solid #24C5DB;
    border-radius: 30px;
    width: 500px;
    height: 250px;
    text-align: center;
}
.btn-start-bottom{
    position: relative;
    margin-top: 40px;
    height: 54px;
    width: 320px;
    border: 3px solid #24C5DB;
    border-radius: 30px;
    text-align: center;
}
.main-page{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: auto;
}