.menu a{
    display: inline-block;
    background: #2563eb;
    padding: 10px 20px;
    color: white;
    border-radius: 6px;
    margin-right: 8px;
    font-weight: bold;
    transition: all 0.3s;
    width: 250px;
    height: 100px;
}


.menu .menu__link:hover {
    background: #1d4ed8;
}
