p  {
    font-size:x-large;
}
ul{
    font-size:x-large;
}
ol{
    font-size:x-large;
}
.btn-large {
    padding: 14px 22px; 
    font-size: xx-large;
}
.btn-ghost {
    background: transparent;
    color: #2563eb;
    border: 2px solid #2563eb ;
}
.btn-ghost:hover{background: #e7eaee;}
img{
   height: 10%;
   width: 10%;
}