
body {
    background-image:url("images/Без\ названия.jpg") ;
    
}
p {
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 20px;
}
h1 {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 40px ;
}
div p {
    font-size: 25px;
 
}
