body{
   font-family: "Playfair Display", serif;
   font-optical-sizing: auto;
   font-style: normal;
   font-weight: 400;
   font-size: 16px;
   line-height: 24px;
   color: #0f172a;

}
.card{
    border: 0 !important;
}
.managment{
    height:480px;
    width: 1168px;
    border: 0 !important;  

}
.card-group{
    gap: 25px;
    padding-bottom: 80px;
    
}

.align{
    align-items: center;
    
}
a{
    text-decoration: none;
}
.Partners{
    display: flex;
    text-align: center;
    justify-content: space-between;
    
}
.Partners a{
    text-decoration: none;
    color: grey;
}
.container{
    border: 0 !important;
}
h1{
    
    padding: 64px 136px 64px 136px;
}
.txt{
    padding: 80px 0px 20px 0px;
    font-size: 50px;
    font-weight: bold;
    line-height: 124%;
}
.people{
    display: flex;
    flex-direction: column;
    padding: 40px;
    align-items: center;
}
.card-img-top{
    object-fit: cover;
    width: 300px;
    height: 400px;
}

.title {
    font-size: 96px;
    font-weight: 800;
    line-height: 100%;
    letter-spacing: -3.4px;
    padding: 64px 0;
}

.card-text {
    padding-bottom: 3vh;
}
.peoples{
    
    padding: 80px 136px;
  
}
.people-body{
    text-align: center;
    
   
}
.quota-title{
    font-size: 48px;
    font-weight: 800;
    line-height: 124%;
    letter-spacing: -2%;
    
}
.quota-body{
    display: flex;
    justify-content: end;
    width: 1100px;
    height: 386px;

}
.blockquota{
    width: 870px;
    height: 290px;
    font-size: 36px;
    line-height: 160%;
    letter-spacing: 1%;
}
.archmove-title{
    font-size: 64px;
    font-weight: 800;
    line-height: 100%;
    letter-spacing: -2%;
    
}
.partner-title{
    font-size: 48px;
    font-weight: 700;
    line-height: 124%;
    letter-spacing: -4%;
}
    .footer{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        padding: 80px 136px 80px 136px;
    }
    .footer a{
        text-decoration: none;
        color: #0f172a;
    }
    .footer-links{
        flex-basis: 60%;
        gap: 10px;
        padding: 0px 15px 0px 5px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        
    }
    .archmove{
        margin-top: 25%; margin-left: 15%;
    }



@media screen and (max-width: 768px) {
    .title{
        font-size: 48px;
    }
    .card-title{
        font-size:40px;
    }
    .card-text{
        font-size: 16px;
    }
    .quota-title{
        font-size: 40px;
    }
    .blockquota{
        font-size: 24px;
        width: 0;
    }
    .archmove-title{
        font-size: 40px;
    }
    .quota-body{
        justify-content: start;
       width: 0;
    }
    .archmove{
        margin-top: 0%;
    }

}

