.mb-3{
    height:480px;
    width: 1168px;
}
.card-group{
    display: flex;
    flex-direction: row;
    width: 1340px;
    height: 432px;
}
.quota{
    width: 1440px;
    height: 730px;
}
.align{
    align-items: center;
    justify-content: center;
}
a{
    text-decoration: none;
}
.Partners{
    display: flex;
    text-align: center;
    justify-content: space-between;
    
}
.Partners a{
    text-decoration: none;
    color: grey;
}
.container{
    border: none;
}
